@use '@angular/material' as mat;

@include mat.core();

$custom-primary: mat.define-palette(mat.$blue-grey-palette);
$custom-accent: mat.define-palette(mat.$blue-palette, 600);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
  )
));

@include mat.all-component-themes($custom-theme);
