mat-card {
    margin: 2em auto;
    padding: 1em;
    background-color: #F1F1F1;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    max-width: 80%;
}

mat-card-header {
    font-size: 2em;
    font-weight: bold;
    color: #344d5f;
    margin-bottom: 1em;
}

mat-card-content {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}

mat-card-title {
    font-size: 1em;
    color: #43596a;
}

mat-list-item {
    font-size: 1em;
    margin-bottom: 0.5em;
}

button {
    margin-top: 1em;
}
