<mat-card>
    <mat-card-header>
      <mat-card-title>Your Tokens:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let token of tokens">
        <mat-list>
          <mat-list-item>
            <h2 matLine>{{token.tokenName}}</h2>
          </mat-list-item>
          <mat-list-item>
            <span>Symbol: {{token.tokenSymbol}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>Decimals: {{token.decimals}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>Total Supply: {{token.totalSupply}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>Contract Address: {{token.contractAddress}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>Transaction Hash: {{token.transactionHash}}</span>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
      </div>
      <button mat-raised-button color="primary" routerLink="/create">Create More Tokens</button>
    </mat-card-content>
  </mat-card>

<mat-card>
    <mat-card-header>
      <mat-card-title>Your Liquidity Pools:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let liquidity of liquidities">
          <mat-list>
            <mat-list-item>
              <span>Token: {{liquidity.token}}</span>
            </mat-list-item>
            <mat-list-item>
              <span>Token Amount: {{liquidity.amountToken}}</span>
            </mat-list-item>
            <mat-list-item>
              <span>Liquidity Pair: {{liquidity.liquidityPair}}</span>
            </mat-list-item>
            <mat-list-item>
              <span>Liquidity Pair Amount: {{liquidity.amountLiquidityPair}}</span>
            </mat-list-item>
            <mat-list-item>
                <span>Transaction Hash: {{liquidity.transactionHash}}</span>
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
        </div>
        <button mat-raised-button color="primary" routerLink="/addliquidity">Add Liquidity</button>
      </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
      <mat-card-title>Your Swaps:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let swap of swaps">
          <mat-list>
            <mat-list-item>
              <span>Token In: {{swap.tokenIn}}</span>
            </mat-list-item>
            <mat-list-item>
              <span>Amount In: {{swap.amountIn}}</span>
            </mat-list-item>
            <mat-list-item>
              <span>Token Out: {{swap.tokenOut}}</span>
            </mat-list-item>
            <mat-list-item>
                <span>Transaction Hash: {{swap.transactionHash}}</span>
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
        </div>
        <button mat-raised-button color="primary" routerLink="/swap">Swap</button>
      </mat-card-content>
</mat-card>
  