<div class="container mat-typography">
    <div *ngIf="isLoading" class="spinner-container">
        <img src="/assets/astronaut.gif">
    </div>
    <form [formGroup]="addLiquidityForm" (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label>Network</mat-label>
            <mat-select id="network" formControlName="network">
                <mat-option value="Sepolia Testnet">Sepolia Testnet</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Your Token</mat-label>
            <input matInput type="text" id="tokenA" formControlName="tokenA">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Amount: Your Token</mat-label>
            <input matInput type="text" id="amountA" formControlName="amountA">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Liquidity Pair</mat-label>
            <input matInput type="text" id="tokenB" formControlName="tokenB">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Amount: Liquidity Pair</mat-label>
            <input matInput type="text" id="amountB" formControlName="amountB">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Add Liquidity</button>
    </form>
</div>
