<div class="container mat-typography">
    <form [formGroup]="addLiquidityForm" (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label>Network</mat-label>
            <select matNativeControl formControlName="network">
                <option value="ethereum">Ethereum</option>
                <option value="bsc">Binance Smart Chain</option>
                <option value="polygon">Polygon</option>
                <option value="sepolia">Sepolia</option>
            </select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Your Token</mat-label>
            <input matInput type="text" id="tokenA" formControlName="tokenA">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Amount: Your Token</mat-label>
            <input matInput type="number" id="amountA" formControlName="amountA">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Liquidity Pair</mat-label>
            <input matInput type="text" id="tokenB" formControlName="tokenB">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Amount: Liquidity Pair</mat-label>
            <input matInput type="number" id="amountB" formControlName="amountB">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Add Liquidity</button>
    </form>
</div>

