<mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" required>
          <button mat-raised-button color="primary" (click)="sendOTP()">Send OTP</button>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>OTP</mat-label>
          <input type="text" matInput formControlName="otp" required>
          <button mat-raised-button color="primary" (click)="verifyOTP()">Verify OTP</button>
        </mat-form-field>
  
        <div *ngIf="otpVerified">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required>
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
        
        <br>
        <br>
        <button mat-stroked-button color="accent" (click)="navigateToRegister()">New User? Register</button>
      </form>
    </mat-card-content>
  </mat-card>
  