mat-card-title {
    font-size: 2em; 
    font-weight: bold;  
    text-align: center; 
    color: #344955;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    
  }
  
mat-form-field {
    width: 100%;
    
  }
  
  button {
    margin-top: 1em;
  }

  button:hover {
    background-color: #28384c; 
}

.login-button {
    margin-right: 20px;
}

  