mat-toolbar {
  background-color: #06254a;
  display: flex;
  justify-content: space-between;
}

.left-nav-items, .right-nav-items {
  display: flex;
  align-items: center;
}

mat-toolbar button {
  color: #FFF;
  margin-right: 10px;
  font-weight: bold;
}

mat-toolbar button:hover {
  color: #9f9f9f;
}

.logo {
  width: 150px;
  height: 50px;
  margin-right: 20px;
}

mat-icon {
  font-size: 30px; /* Set your desired size here */
  height: 30px; /* Should be same as font-size */
  width: 30px; /* Should be same as font-size */
  line-height: 25px; /* Should be same as font-size */
}

