mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  mat-card-header {
    background-color: #2c5477;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  mat-card-title {
    font-size: 2em; 
    font-weight: bold;  
    color: #fff;
  }
  
  mat-form-field {
    width: 80%;
    margin: 1em auto;
  }
  
  button {
    margin-top: 1em;
    width: 80%;
  }
  
  button:hover {
    background-color: #1c4e80;
  }
  
  .spinner-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.782); 
      z-index: 9999; 
  }
  
  .spinner-container img {
      width: 30vw; 
      max-width: 150px;
      height: auto;
  }
  