<mat-card class="mat-typography">
    <mat-card-header>
      <mat-card-title>Swap Tokens</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="isLoading" class="spinner-container">
            <img src="/assets/astronaut.gif">
        </div>
    <form [formGroup]="swapForm" (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label>Network</mat-label>
            <mat-select id="network" formControlName="network">
                <mat-option value="Sepolia Testnet">Sepolia Testnet</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Token In</mat-label>
            <input matInput type="text" id="tokenIn" formControlName="tokenIn">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Token Out</mat-label>
            <input matInput type="text" id="tokenOut" formControlName="tokenOut">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Amount In</mat-label>
            <input matInput type="text" id="amountIn" formControlName="amountIn">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Max Slippage</mat-label>
            <input matInput type="number" id="slippage" formControlName="slippage">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Swap Tokens</button>
    </form>
    </mat-card-content>
</mat-card>

           
