.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    color: #333;
    border-radius: 5px;
    position: relative;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button {
    align-self: flex-end;
    color: #FFF; 
    background-color: #344955;
}

button:hover {
    background-color: #28384c; 
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.782); 
    z-index: 9999; 
}

.spinner-container img {
    width: 50vw; 
    max-width: 300px;
    height: auto;
}