<div class="container mat-typography">
    <form [formGroup]="createTokenForm" (ngSubmit)="submit()">
        
        <!-- Add User email -->
        <mat-form-field appearance="fill">
            <mat-label>Your Email</mat-label>
            <input matInput type="email" id="userEmail" formControlName="userEmail">
        </mat-form-field>
          
        <!-- Network selection dropdown -->
        <mat-form-field appearance="fill">
            <mat-label>Network</mat-label>
            <mat-select id="network" formControlName="network">
                <mat-option value="Sepolia Testnet">Sepolia Testnet</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Rest of the form -->
        <mat-form-field appearance="fill">
            <mat-label>Token Name</mat-label>
            <input matInput type="text" id="tokenName" formControlName="tokenName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Token Symbol</mat-label>
            <input matInput type="text" id="tokenSymbol" formControlName="tokenSymbol">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Total Supply</mat-label>
            <input matInput type="text" id="totalSupply" formControlName="totalSupply">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Create Token</button>
    </form>
</div>
